@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: theme('colors.solarized.92');
    color: theme('colors.solarized.violet');
    font-family: 'Fira Code','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}